service: feedly-to-raindrop

provider:
  name: aws
  region: ${env:AWS_REGION}
  runtime: nodejs20.x
  memorySize: 128
  timeout: 30
  logRetentionInDays: 1
  versionFunctions: false
  iamRoleStatements:
    - Effect: "Allow"
      Action:
        - "ssm:GetParameter"
        - "ssm:PutParameter"
      Resource:
        - Fn::Join:
            - ":"
            - - arn:aws:ssm
              - { Ref: AWS::Region }
              - { Ref: AWS::AccountId }
              - Fn::Join: [ '', [ parameter, { Ref: FeedlyToken } ]]
        - Fn::Join:
            - ":"
            - - arn:aws:ssm
              - { Ref: AWS::Region }
              - { Ref: AWS::AccountId }
              - Fn::Join: [ '', [ parameter, { Ref: RaindropToken } ]]

    - Effect: "Allow"
      Action:
        - "sns:Publish"
      Resource:
        - Ref: NotifyFailure

package:
  exclude:
    - '**'
    - '!dist/**'
    - '!node_modules/**'

functions:
  main:
    handler: dist/main.handler
    environment:
      SSM_PARAMETER_FEEDLY: ${env:SSM_PARAMETER_FEEDLY}
      SSM_PARAMETER_RAINDROP: ${env:SSM_PARAMETER_RAINDROP}
      FEEDLY_CLIENT_ID: ${env:FEEDLY_CLIENT_ID}
      FEEDLY_CLIENT_SECRET: ${env:FEEDLY_CLIENT_SECRET}
      RAINDROP_CLIENT_ID: ${env:RAINDROP_CLIENT_ID}
      RAINDROP_CLIENT_SECRET: ${env:RAINDROP_CLIENT_SECRET}
    events:
      - schedule: cron(*/10 * * * ? *)
    destinations:
      onFailure: failure

  failure:
    handler: dist/failure.handler
    environment:
      SNS_TOPIC_ARN:
        Ref: NotifyFailure

resources:
  Resources:
    FeedlyToken:
      Type: AWS::SSM::Parameter
      Properties:
        Name: ${env:SSM_PARAMETER_FEEDLY}
        Value: ${file(./data/feedly_token.txt)}
        Type: String

    RaindropToken:
      Type: AWS::SSM::Parameter
      Properties:
        Name: ${env:SSM_PARAMETER_RAINDROP}
        Value: ${file(./data/raindrop_token.txt)}
        Type: String

    NotifyFailure:
      Type: AWS::SNS::Topic
      Properties:
        TopicName: ${self:service}-${sls:stage}-failure
        DisplayName: FAILURE ${self:service}-${sls:stage}
        Subscription:
          - Protocol: email
            Endpoint: ${env:NOTIFY_FAILURE_EMAIL}
